#vendor-lp {
  .calling-services {
    display: flex;
    align-items: center;
    margin-top: 0;
  }

  .calling-services input {
    width: 50px;
  }

  .calling-services-label-container {
    display: flex;
  }

  .calling-services-div {
  }
}
