.resource-cards {
  display: flex;
  .card {
    border-radius: 32px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 40px;
    -webkit-box-shadow: 10px 3px 26px 0px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 10px 3px 26px 0px rgba(0, 0, 0, 0.28);
    box-shadow: 10px 3px 26px 0px rgba(0, 0, 0, 0.28);
    h2 {
      font-size: 44px;
      color: white;
    }

    a {
      text-decoration: none;
    }

    h3 {
      display: -webkit-box;
      line-height: 45px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 500px;
    }
    .top-img {
      max-height: 250px;
      min-height: 250px;
      object-fit: cover;
      overflow: hidden;
      position: relative;
      img {
        overflow: hidden;
        border-radius: 32px;
        width: 100%;
        min-height: 250px;
        object-fit: cover;
      }
    }
    .card-text {
      padding-top: 30px;
      padding-left: 50px;
      padding-right: 25px;
      position: relative;
    }
    .date {
      display: flex;
      img {
        margin-right: 25px;
      }
      p {
        font-family: "Segoe UI", sans-serif;
        font-size: 22px;
        font-weight: 600;
        color: #d2c6eb;
      }
    }

    &.blog .card-text:after {
      content: url("../../images/svgs/resources/blog-cat.svg");
      position: absolute;
      right: -17px;
      top: -40px;
      z-index: 999;
      overflow: visible;
    }

    &.service-updates .card-text:after {
      content: url("../../images/svgs/resources/update-cat.svg");
      position: absolute;
      right: -17px;
      top: -40px;
      z-index: 999;
      overflow: visible;
    }
  }
}
