footer {
  background: #00a7ff;
  background: -moz-linear-gradient(top, #00a7ff 0%, #0000e6 100%);
  background: -webkit-linear-gradient(top, #00a7ff 0%, #0000e6 100%);
  background: linear-gradient(to bottom, #00a7ff 0%, #0000e6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a7ff', endColorstr='#0000e6',GradientType=0 ); /* IE6-9 */
  color: #fff;
  line-height: 1em;
  font-size: 16px;
  z-index: 999;
  position: relative;
}

footer h2 {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 25px;
  color: #fff;
  font-family: "Oswald";
}

footer p {
  font-size: 16px;
  line-height: 1em;
  margin-bottom: 15px;
}

footer .row:first-child a {
  color: white;
  text-decoration: none;
  transition-duration: 0.25s;
}

footer .row:first-child a:hover {
  color: #ff3975;
}

footer ::placeholder {
  color: #707070;
  opacity: 1;
  text-indent: 0px;
  transition: all 0.3s ease;
  font-family: "Poppins";
  padding: 0 10px;
}

footer input {
  width: 100%;
  padding: 12px 5px;
  border: 0;
}

footer .form-section {
  background: #0d0d0d;
  padding-top: 5%;
}

footer .container {
  max-width: 100%;
  width: 100%;
}

footer .row {
  margin: 0 auto;
  max-width: 1310px;
  padding: 50px 15px;
}

footer .socket {
  background: #fe7e01;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(2%, #fe7e01),
    to(#ff017d)
  );
  background: linear-gradient(to right, #fe7e01 2%, #ff017d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe7e01', endColorstr='#ff017d',GradientType=1 );
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px 0;
}

footer .socket p {
  margin-bottom: 0px;
}

footer .socket p:first-child {
  margin-bottom: 20px;
}

footer .socket a {
  color: white;
  transition-duration: 0.25s;
}

footer .socket a:hover {
  color: #466777;
  text-decoration: none;
}

footer .certGraphic {
  margin-right: 20px;
  margin-bottom: 20px;
}

footer ul li {
  list-style: none;
  margin-bottom: 10px;
}

footer ul li img {
  margin-right: 15px;
  top: -2px;
}

footer .footer-thank-you {
  display: none;
  background: #ff3975;
  padding: 25px 50px;
  border-radius: 25px;
}

footer .footer-thank-you h5 {
  font-size: 18px;
  font-family: "poppins";
  font-weight: 500;
  text-align: center;
}

footer .form-footer {
  padding-top: 0;
}

footer button.pink-button {
  margin-top: 0;
  margin-left: auto;
  margin-right: 0;
  width: 200px;
}

@media screen and (max-width: 767px) {
  footer .socket {
    text-align: center;
  }

  footer .socket p {
    width: 100%;
  }
}
